.md-typeset h5 {
    margin-top: 2.5em;
}

.center-image {
    display: block;
    margin: 0 auto;
}

img[src$="#only-dark"] {
    display: none;
}

[data-md-color-scheme="slate"] img[src$="#only-dark"] {
    display: block;
}
